.header {
  margin-top: 90px;
  text-align: center;
}

.formulaire {
  margin-top: 30px;
  border: 1px solid #fff;
  height: 100%;
  width: 360px;
}

.formulaire1 {

  border: 1px solid #fff;
  height: 70%;
  width: 100%;
}



.formulaire a {
  text-decoration: none;
}